.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin: -12px 0 0 -12px;
}

.loading i {
  position: absolute;
  top: 24px; left: 24px;
  display: block;
  width: 24px;
  height: 24px;
  background: #799ED2;
  border-radius: 24px;
  -webkit-animation: spin2 1.5s ease-in-out infinite;
}
.loading i:first-child {
  top: -24px; left: 0;
  background: #194685;
  -webkit-animation: spin 1.5s ease-in-out infinite;
}
.loading i:last-child {
  top: 24px; left: -24px;
  background: #C7202C;
  -webkit-animation: spin3 1.5s ease-in-out infinite;
}

@-webkit-keyframes spin {
  0% {
    top: -24px;
    left: 0;
    -webkit-transform: scale(1);
  }
  17% {
    -webkit-transform: scale(.5);
  }
  33% {
    top: 24px;
    left: 24px;
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(.5);
  }
  66% {
    top: 24px;
    left: -24px;
    -webkit-transform: scale(1);
  }
  83% {
    -webkit-transform: scale(.5);
  }
  100% {
    top: -24px;
    left: 0;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes spin2 {
  0% {
    top: 24px;
    left: 24px;
    -webkit-transform: scale(1);
  }
  17% {
    -webkit-transform: scale(.5);
  }
  33% {
    top: 24px;
    left: -24px;
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(.5);
  }
  66% {
    top: -24px;
    left: 0;
    -webkit-transform: scale(1);
  }
  83% {
    -webkit-transform: scale(.5);
  }
  100% {
    top: 24px;
    left: 24px;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes spin3 {
  0% {
    top: 24px;
    left: -24px;
    -webkit-transform: scale(1);
  }
  17% {
    -webkit-transform: scale(.5);
  }
  33% {
    top: -24px;
    left: 0;
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(.5);
  }
  66% {
    top: 24px;
    left: 24px;
    -webkit-transform: scale(1);
  }
  83% {
    -webkit-transform: scale(.5);
  }
  100% {
    top: 24px;
    left: -24px;
    -webkit-transform: scale(1);
  }
}}



.wcb_form:before {
  clear: both;
}

.wcb_form:after {
  clear: both;
}

.widget.widget_wcb-filterwidget {
  width: 100%;
}
/*
.wcb_form > div {
  display: inline;
}*/


/* PRICE SLIDER */
div#slider-range {
    margin: 20px 0;
}

.ui-slider-range.ui-widget-header.ui-corner-all {
    background-color: rgba(136, 136, 136, 0.4);
}

div#slider-range:before {
    position: absolute;
    top: -25px;
    left: -10px;
    content: attr(data-min);
    font-style: italic;
    font-size: 0.8em;
}

div#slider-range:after {
    position: absolute;
    top: -25px;
    right: -5px;
    content: attr(data-max);
    font-style: italic;
    font-size: 0.8em;
}

span.ui-slider-handle.ui-state-default.ui-corner-all {
    border-radius: 2px;
    background-color: rgba(205,205,205,1.00);
    margin-top: 1px;
    border: rgba(0,0,0,.4) 1px solid;
    transition: box-shadow .6s;
}

span.ui-slider-handle.ui-state-default.ui-corner-all:active {
    box-shadow: 0 0 2px 0px rgba(0,0,0,.6);
}

div#slider-range {
    border: rgba(0,0,0,.4) 1px solid;
    border-radius: 10px;
}

.sliderWrapper {
    display: block;
}

/* BRAND TILES */

li.tileItem.selected div.selectedOverlay {
  z-index: 99;
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj48c3R5bGU+LnN0eWxlMHtmaWxsOgkjZmZmZmZmO308L3N0eWxlPjxwYXRoIGQ9Ik0yOCAzMy4wNjdoLTI1LjZjLTEuMzIzIDAtMi40LTEuMDc3LTIuNC0yLjR2LTI1LjZjMC0xLjMyMyAxLjA3Ny0yLjQgMi40LTIuNGgyNS42YzEuMzIzIDAgMi40IDEuMSAyLjQgMi40djI1LjZjMCAxLjMyMy0xLjA3NyAyLjQtMi40IDIuNHpNMi40IDQuMjY3Yy0wLjQ0MSAwLTAuOCAwLjM1OS0wLjggMC44djI1LjZjMCAwLjQgMC40IDAuOCAwLjggMC44aDI1LjZjMC40NDEgMCAwLjgtMC4zNTkgMC44LTAuOHYtMjUuNmMwLTAuNDQxLTAuMzU5LTAuOC0wLjgtMC44aC0yNS42ek0xMiAyNC4yNjdjLTAuMjA1IDAtMC40MDktMC4wNzgtMC41NjYtMC4yMzRsLTQuOC00LjhjLTAuMzEyLTAuMzEyLTAuMzEyLTAuODE5IDAtMS4xMzFzMC44MTktMC4zMTIgMS4xIDBsNC4yMzQgNC4yIDEwLjYzNC0xMC42MzRjMC4zMTItMC4zMTIgMC44MTktMC4zMTIgMS4xIDBzMC4zMTIgMC44IDAgMS4xMzFsLTExLjIgMTEuMmMtMC4xNTYgMC4xNTYtMC4zNjEgMC4yMzQtMC41NjYgMC4yMzR6IiBjbGFzcz0ic3R5bGUwIi8+PC9zdmc+DQo=");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position-y: -1px;
  background-position-x: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.sliderWrapper {
  margin-top: 20px;
}

.tilesWrapper {
  margin-bottom: 20px;
}

.wcb_form .tilesWrapper-tileList {
  margin-bottom: 40px !important;
}

.tileThumb-container {
    width: 75px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    border: rgba(204, 204, 204, 0.35) 1px solid;
    box-shadow: 0 0 1px 5px rgba(204, 204, 204, 0.35) ;
}

.tileThumb-container img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.tileCaption-container {
  width: 87px;
  max-width: 100%;
  left: 0;
  margin: 0 auto;
  position: absolute;
  line-height: 1.2;
  padding-left: 5px;
  top: 100%;
  max-height: 55px;
  overflow: hidden;
}

.tileCaption-container p {
    text-align: center;
    font-size: 11pt;
    font-weight: 900;
    background-color: #ccc;
}


.tilesWrapper .tileItem {
  position: relative;
  padding: 10px;
  float: left;
  cursor: pointer;
}


button.sui-button--grey {
  background-color: transparent;
  box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset!important;
  background: 0 0!important;
  color: rgba(0,0,0,.45)!important;
  font-weight: 400;
  border-radius: 0.45714rem;
  text-transform: none;
  text-shadow: none!important;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em;
  line-height: 1em;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  overflow: visible;
  box-sizing: inherit;
  float: right;
  position: relative;
}

button.sui-button--grey:hover {
  background: 0 0!important;
  box-shadow: 0 0 0 2px #cfd0d2 inset!important;
  color: rgba(0,0,0,.6)!important;
}

button.sui-button--grey.disabled {
  cursor: default;
  opacity: .45!important;
  pointer-events: none;
}

.sliderWrapper-labelledInputWrapper {
  margin-top: 20px;
}
.labelledInput {
  display: inline-flex;
  width: 125px;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  float: right;
}

.labelledInput .label {
  background-color: rgb(232, 232, 232);
  border-color: rgb(232, 232, 232);
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.6);
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 38px;
  line-height: 14px;
  margin: 0px;
  margin-left: 22px;
  padding: 11px 6px;
  text-align: center;
  transition-delay: 0s;
  transition-duration: 0.1s;
  transition-property: background;
  transition-timing-function: ease;
  white-space: nowrap;
  width: 35px;
}

.labelledInput input {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: text;
  border-color: rgba(34, 36, 38, 0.14902);
  border-radius: 0 4px 4px 0;
  border-style: solid;
  border-width: 1px;
  border-left-style: none;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.870588);
  cursor: auto;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 38px;
  line-height: 16.99880027771px;
  margin: 0px;
  /*margin-right: 10px;*/
  max-width: 100%;
  padding: 7px 5px;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.1s, 0.1s, 0.1s;
  transition-property: background-color, box-shadow, border-color;
  transition-timing-function: ease, ease, ease;
  width: 70px;
}
.wcbLoader:before,
.wcbLoader:after,
.wcbLoader {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.wcbLoader {
  position: absolute;
  font-size: 10px;
  bottom: -5px;
  right: 20px;
  height: 10px;
  width: 10px;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.wcbLoader:before {
  left: -20px;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.wcbLoader:after {
  left: 20px;
}
.wcbLoader:before,
.wcbLoader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 11px 0 -6px rgba(162, 162, 162, 0.78);
  }
  40% {
    box-shadow: 0 11px 0 0 rgba(162, 162, 162, 0.78);
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 11px 0 -6px rgba(162, 162, 162, 0.78);
  }
  40% {
    box-shadow: 0 11px 0 0 rgba(162, 162, 162, 0.78);
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
