/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .priceOptions-container, .brandOptions-container, .customAttributes-container {
    margin-left: 5px;
    border-left: #ccc 1px solid;
    padding-left: 5px;
}

input.priceOptions-priceTitle, input.brandOptions-brandTitle {
    width: 250px;
    max-width: 90%;
    margin-left: 15px;
}

label.filterLabel {
	display: block;
	position: relative;
}

label.filterLabel input {
  margin-right: 5px;
}

.brandOptions-brandLayout {
	display: block;
	margin-top: 10px;
}

p.customAttributes {
  width: 100%;
}

.customAttributes-container {
  position: relative;
  margin-bottom: 20px;
}

.customAttributes-select, .customAttributes-btn {
  float: left;
  height: 28px;
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
}
select.customAttributes-select {
  line-height: 28px;
  min-width: 250px;
  width: auto;
}
button.customAttributes-btn {
  line-height: 1;
}

input.customAttributes-input {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
}

button.customAttributes-rm-btn {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
}

.customAttributes-row {
    margin-top: 10px;
    display: block;
    width: 100%;
    position: relative;
}

label.customAttributes-row-label {
    line-height: 2;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
